!!! 5
%html
  %head
    %title Eastside Women of Purpose - Tee Off Against Trafficking
    = stylesheets
    :javascript
      function MM_preloadImages() { //v3.0
      var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
      var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
      if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
      }
      
      function MM_swapImgRestore() { //v3.0
      var i,x,a=document.MM_sr; for(i=0;a&amp;&amp;i<a.length&amp;&amp;(x=a[i])&amp;&amp;x.oSrc;i++) x.src=x.oSrc;
      }
      
      function MM_findObj(n, d) { //v4.01
      var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&amp;&amp;parent.frames.length) {
      d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
      if(!(x=d[n])&amp;&amp;d.all) x=d.all[n]; for (i=0;!x&amp;&amp;i<d.forms.length;i++) x=d.forms[i][n];
      for(i=0;!x&amp;&amp;d.layers&amp;&amp;i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
      if(!x &amp;&amp; d.getElementById) x=d.getElementById(n); return x;
      }
      
      function MM_swapImage() { //v3.0
      var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
      if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
      }
  %body{ :onload => "MM_preloadImages('img/home_2.png','img/details_2.png','img/mission_2.png','img/signup_2.png','img/player_2.png','img/sponsor_2.png','img/contact_2.png','img/player2_2.png','img/sponsor2_2.png','img/donate_2.png')" }
    .wrapper
      .header
      .content
        .nav
          %a{ :href => "index.html", :onmouseover => "MM_swapImage('home','','img/home_2.png',1)", :onmouseout => "MM_swapImgRestore()" }
            %img#home{ :name => "home", :src => "img/home_1.png", :border => "0", :height => "30", :alt => "Home", :width => "151" }
          %a{ :href => "details.html", :onmouseover => "MM_swapImage('details','','img/details_2.png',1)", :onmouseout => "MM_swapImgRestore()" }
            %img#details{ :name => "details", :src => "img/details_1.png", :border => "0", :height => "30", :alt => "Details", :width => "151" }
          %a{ :href => "mission.html", :onmouseover => "MM_swapImage('mission','','img/mission_2.png',1)", :onmouseout => "MM_swapImgRestore()" }
            %img#mission{ :name => "cause", :src => "img/mission_1.png", :border => "0", :height => "30", :alt => "Cause", :width => "151" }
          %a{ :href => "signup.htm", :onmouseover => "MM_swapImage('signup','','img/signup_2.png',1)", :onmouseout => "MM_swapImgRestore()" }
          %a{ :href => "sponsor.html", :onmouseover => "MM_swapImage('sponsor','','img/sponsor_2.png',1)", :onmouseout => "MM_swapImgRestore()" }
            %img#sponsor{ :name => "sponsor", :src => "img/sponsor_1.png", :border => "0", :height => "30", :alt => "Become A Sponsor", :width => "151" }
          %a{ :href => "contact.html", :onmouseover => "MM_swapImage('contact','','img/contact_2.png',1)", :onmouseout => "MM_swapImgRestore()" }
            %img#contact{ :name => "contact", :src => "img/contact_1.png", :border => "0", :height => "30", :alt => "Contact", :width => "151" }
        .main
          = yield
      .push
    .footer
      %h5
        = link_to 'Home', 'index.html'
        |
        = link_to 'Event Details', 'details.html'
        |
        = link_to 'Our Mission', 'mission.html'
        |
        = link_to 'Become a Sponsor', 'sponsor.html'
        |
        = link_to 'Contact', 'contact.html'
