!!! 5
%html
  %head
    %title Eastside Women of Purpose - Tee Off Against Trafficking
    = stylesheets
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-129707-4");
    pageTracker._trackPageview();
    } catch(err) {}</script>
  %body>
    .null-line-height>
      %img{:src => 'images/heading.jpg', :width => 836, :height => 100}>
    .nav
      = link_to 'Home', 'index.html'
      = link_to 'Event Details', 'details.html'
      = link_to 'Our Mission', 'mission.html'
      = link_to 'Become a Sponsor', 'sponsor.html'
      = link_to 'Contact Us', 'contact.html'
    .content
      = yield
    .footer
      %hr{:width => '800', :noshade => :noshade, :size => 1}
      Tee Off Against Trafficking is a project of
      = link_to 'Eastside Women of Purpose', 'http://www.eastsidewomenofpurpose.com/'